@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "display";
  src: url("../fonts/display.otf");
}

body {
  font-family: display;
}

.btn {
  @apply bg-black rounded-full text-white inline-block px-4 py-2;
}
